


$action: #5fcac6;
$action-dark: #53aca9;


$detail: #d5d7de;

// State
$failure: #e17776;
$success: #76a7e1;

// Spacing
$space-xxs: 5px;
$space-xs: 10px;
$space-s: 15px;
$space: 20px;
$space-l: 25px;
$space-xl: 30px;
$space-xxl: 40px;


$text: #8f97b7;
$text-dark: #71728c;
$text-light: #9ea2b5;
$text-invert: #ffffff;

// ------------------------------ //
//   Global                       //
// ------------------------------ //

body {
  padding: $space;
}

// ------------------------------ //
//   Form                         //
// ------------------------------ //

.fieldset + .fieldset,
form + form,
.message {
  margin-top: $space;
}

label {
  color: $text-light;
  display: block;
  font-size: 87.5%;
  font-weight: bold;
  text-transform: uppercase;
}

input,
textarea,
select {
  border: 1px solid $detail;
  color: $text-dark;
  font-size: 100%;
  padding: $space-s
}

button[ type="submit"] {
  background: $action;
  border: 1px solid $action-dark;
  box-shadow: none;
  color: $text-invert;
  font-size: 87.5%;
  text-transform: uppercase;
}

